modules = ["nodejs-20", "bash", "web"]
run = "npm run build && npm run preview"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "static"
publicDir = "dist"

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 4173
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5002
externalPort = 3001

[[ports]]
localPort = 5003
externalPort = 3000

[[ports]]
localPort = 5004
externalPort = 3003

[workflows]
runButton = "Main"

[[workflows.workflow]]
name = "Dev Server"
author = 43356922
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Simple Dev"
author = 43356922
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Dev"
author = 43356922
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Main"
author = 43356922
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build && npm run preview"
